div#childtickets  {
    border: 1px outset #996;
    border-radius: .5em;
    padding: 1em;
}

div#childtickets table.listing thead th {
    border: none;
}

div#childtickets table.listing tbody tr {
    border: none;
}

div#childtickets table.listing tbody td {
    border: none;
    padding: 0.1em 0.5em;
}
